<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrotened link</title>
</head>
<body>
    <h3>Your original Url: <span style="color:red"><%= @original_url %></span></h3>
    <h2>Your shortened Url: <span style="color:green"><%= @short_url %></span></h2>
</body>
</html>